@import "tailwindcss";

@layer components {
    .title {
        @apply text-8xl font-semibold mb-8;
    }

    .btn {
        @apply px-4 py-2 rounded font-semibold transition-colors cursor-pointer text-center;
    }

    .btn-primary {
        @apply bg-slate-800 text-white hover:bg-sky-800;
    }

    .btn-secondary {
        @apply bg-slate-500 text-white hover:bg-sky-400;
    }

    .btn-danger {
        @apply bg-red-700 text-white hover:bg-red-600;
    }


    .input {
        @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-slate-600 focus:border-transparent transition-all
    }
}