<% content_for :title, "Editing tune" %>

<h1>Editing tune</h1>

<%= render "form", tune: @tune %>

<br>

<div>
  <%= link_to "Show this tune", @tune %> |
  <%= link_to "Back to tunes", tunes_path %>
</div>
