<div class="flex flex-col justify-center mx-auto gap-2">
  <p style="color: green"><%= notice %></p>
  <%= render @tune %>
  <%= link_to "Edit", edit_tune_path(@tune), class: "btn btn-secondary" %>
  <%= link_to "Back to tunes", tunes_path, class: "btn btn-secondary" %>
</div>
